body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
/*nav bar*/
#nav_bar_ul{
	/*font*/
	color: white;
	font-size: 1.5em;
	font-family: "raleway", sans-serif;
	font-weight: 300;
	/*dimensions*/
	list-style-type: none;
	height: 2.75em;
	background-color: #8BC34A;
	/*box shadow*/
	z-index: 9999;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.nav_bar_item{
	width: 14.2%;
	float: left;
	
	text-align: center;
	margin-top: .625em;
	margin-bottom: .625em;
}
