*{   margin:0px;
    padding:0px;
}


/*Header*/
#alarm_header{
	background-color: #607D8B;
	height: 200px;
	/*text*/
	text-align: center;
	color:#ffffff;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}
#alarm_header_team_name{
	font-size: 4em;
	margin-top: 3%;
}
#alarm_header_team_number{
	font-size: 3em;
}
 
/*sticky nav bar*/
.affix {
	top:0;
    width: 100%;
    z-index: 9999 !important;
  }
  
  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
#nav_bar_ul{
	/*text*/
	color: white;
	font-size: 1.5em;
	font-family: 'ABeeZee', sans-serif;
	font-weight: 300;
	/*dimensions*/
	list-style-type: none;
	height: 2.75em;
	background-color: #8BC34A;
	margin-bottom: 0%;
	/*box shadow*/
	z-index: 9999;
	-webkit-box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.75);
}
.nav_bar_item{
	width: 14.2%;
	float: left;
	text-align: center;
	margin-top: .625em;
	margin-bottom: .625em;
}

  /**/
  

  /*intro*/
  #intro_div{
	z-index: 9998;
	background-color: red;
	width: 50%;
	margin: 0px;
	padding-top: 2.75em;
  }
   #section1 {padding-top:0px;color: #fff; background-color: #1E88E5; z-index: 9;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  

  